.QoshilishModal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.QoshilishModal .Form{
    padding: 10px 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0 0 8px white;
    animation: formq 0.5s;
}

@keyframes formq {
    0%{
        margin-top: -25rem;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

.QoshilishModal .Form h4{
    text-align: end;
    cursor: pointer;
}
.CourseAboutModal{
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.CourseAboutModal .Form{
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px white;
    width: 100%;
    margin: 25px;
    padding: 20px;
    animation: CourseAboutModal 0.5s;
}

@keyframes CourseAboutModal {
    0%{
        margin-top: -10rem;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

.CourseAboutModal .Form h3{
    text-align: end;
    padding: 0 0 15px 0;
    cursor: pointer;
}

.CourseAboutModal .Form h4{
    font-family: jua;
    letter-spacing: 3px;
    font-style: italic;
    margin: 0 0 20px 0;
}

.CourseAboutModal .Form h6{
    text-transform: capitalize;
    font-weight: 700;
}
.CourseAboutModal .Form p{
    font-weight: 700;
}